Source: golang-github-elazarl-goproxy
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Markus Sabadello <markus@projectdanube.org>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               golang-github-inconshreveable-go-vhost-dev,
               golang-github-rogpeppe-go-charset-dev
Standards-Version: 3.9.6
Homepage: https://github.com/elazarl/goproxy
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-elazarl-goproxy.git
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/golang-github-elazarl-goproxy.git
XS-Go-Import-Path: github.com/elazarl/goproxy

Package: golang-github-elazarl-goproxy-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-go,
         golang-github-inconshreveable-go-vhost-dev,
         golang-github-rogpeppe-go-charset-dev
Description: An HTTP proxy library for Go
 Package goproxy provides a customizable HTTP proxy library for Go
 (golang),
 .
 It supports regular HTTP proxy, HTTPS through CONNECT, and "hijacking"
 HTTPS connection using "Man in the Middle" style attack.
 .
 The intent of the proxy, is to be usable with reasonable amount of
 traffic yet, customizable and programable.
 .
 The proxy itself is simply a net/http handler.
 .
 In order to use goproxy, one should set their browser to use
 goproxy as an HTTP proxy. Here is how you do that in Chrome
 (https://support.google.com/chrome/answer/96815?hl=en) and in Firefox
 (http://www.wikihow.com/Enter-Proxy-Settings-in-Firefox).
 .
 For example, the URL you should use as proxy when running ./bin/basic is
 localhost:8080, as this is the default binding for the basic proxy.
